################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/System.Net.Torrent.sln
/obj/Debug
/.vs
