################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj
bin
.vs
*.nupkg
*.dll
TestResults
*.DotSettings.user
.idea/*